<!DOCTYPE html>
<html>
<head>
	<title>Vue First Project</title>
	<script src="vue.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
	
<body>

	<div class="app">
		<div class="holder">

			<form @submit.prevent="addSkill">
     			 <input type="text" placeholder="Enter your next to do"  v-model="skill">
     			</form>

			<ul>
				<li v-for="(data, index) in skills" :key='index'>{{data.skill}}
				   <i class="fa fa-minus-circle" v-on:click="remove(index)"></i>
				</li>
			</ul>

			<p>Keep up the good work!</p>

		</div>

 	</div>


	<script>
		new Vue({
				el: '.app',
				data() {
					return {
						skill: '',
						skills: [
						],
						showAlert: true 
					}
				},
			methods: {
				addSkill(){
				  this.skills.push({skill: this.skill});
				  this.skill = '';
				},
				remove(id) {
        			this.skills.splice(id, 1);
     				}
			},
		});
	</script>

</body>
</html>
