@import url('https://fonts.googleapis.com/css?family=Asap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #25272E;
}

header {
	background: white;
	padding: 20px;
}

header h1 {
	color: #25272E; 
	text-align: center;
	font-family: Asap, sans-serif;
}

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	text-align: center;
	border-radius: 4px;
	width: 200px;
	color: white;
	font-size: 20px;
	padding: 15px 20px;
	font-family: Asap, sans-serif;
	position: relative;
}

.badge {
	background-color: #E2584D;
	color: white;
	font-size: 14px;
	padding: 4px 10px;
	font-family: Asap, sans-serif;
}

#user-label {
	position: absolute;
	top: 15px;
	left: -25px;
}

#comp-label {
	position: absolute;
	top: 15px;
	right: -30px;
}

img {
	max-height: 100px;
	max-width: 100px;
}

.result {
	font-size: 30px;
	color: white;
}

.result p {
	text-align: center;
	font-weight: bold;
	font-family: Asap, sans-serif;
}

.choices {
	text-align: center;
	margin: 50px 0;

}

.choice {
	display: inline-block;
	border: 4px solid white;
	border-radius: 50%;
	padding: 10px;
	margin: 0 20px;
	transition: all 0.3s ease;
}

.choice:hover {
	cursor: pointer;
	background-color: black;
}

#action-message {
	text-align: center;
	color: white;
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 20px;
}
